.profilePage {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.nav {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 1rem;
}

.nav li:hover {
  background: #282a92;
  color: white;
}

.active {
  background: var(--purple);
  color: white;
}

.tabContent {
  padding: 0 2rem 2rem 2rem;
}
