.form {
  max-width: 400px;
  display: flex;
  gap: 1rem;
}

.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .form {
    flex-direction: column;
  }
}
