.tab {
  max-width: 500px;
  border: solid 2px var(--purple);
  border-radius: 2rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
}

.nav li:hover {
  background: #282a92;
  color: white;
}

.active {
  background: var(--purple);
  color: white;
}

.tabContent {
  padding: 0 2rem 2rem 2rem;
}
