.profile {
  background-image: url("../../public/images/hero-bg.jpg");
  padding: 2rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.avatar {
  width: 100px;
  height: 100px;
  display: grid;
  place-content: center;
  overflow: hidden;
  border-radius: 100%;
}

.editProfile {
  color: #3d40cc;
  margin: 1rem 0;
}
